img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    text-transform: uppercase;
    border-bottom: 3px solid #f77f00;
    border-left: 5px solid #284b63;
    width: 35%;
    padding: 8px;
    margin-left: calc(10%/6);
    margin-bottom: 1%;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}